.btn {
    background-color: #222;
    color: #fff;
    padding: .5em 1em;
    border-radius: 1em;
    font-style: normal;
    text-decoration: none;
    transition: .2s;
}

.btn:hover {
    background: #ffbb33;
}